<body class="colour-bg-dark">

<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
  <%= render 'main_nav' %>
  </div>
  </div>
  <div class="hero-body">
    
<div class="container has-text-centered">

<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FI4aZ5KFTjfFYDFWe5uD4G6%2F._%3Fnode-id%3D102%253A2%26viewport%3D459%252C437%252C0.6027777791023254%26scaling%3Dcontain" allowfullscreen></iframe>


</div> <!-- End Container -->
  </div>
</section> <!-- End Section -->

</body>