/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.colour-pink-dark { background-color: #F81C8C; }
.colour-pink-light { background-color: #FB22FA; }
.colour-purple-dark { background-color: #D074FF; }
.colour-purple-light { background-color: #FECFFF; }
.colour-blue-dark { background-color: #5AFEFF; }
.colour-blue-light { background-color: #CAFFFF; }
.colour-green-dark { background-color: #40FD87; }
.colour-yellow { background-color: #FFFE6F; }
.colour-orange-light { background-color: #FDC600; }
.colour-orange-dark { background-color: #FA8C00; }
.colour-bg-dark { background-color: #1A1D22; }
.colour-bg-medium { background-color: #272B31; }
.colour-bg-light { background-color: #747679; }

@import 'bulma/bulma';